name: Deploy to Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  APP_NAME: omnex
  DOMAIN: property.onway-gmbh.de

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/omnex
            ./deploy.sh
